extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand Selbi
            nav
              ul.nav.masthead-nav
                li.active
                  a(href='#') Home
                li
                  a(href='#') Features
                li
                  a(href='#') Contact
        .inner.cover
          h1.cover-heading Selbi
          p.lead
            | We are the premier friend-to-friend marketplace, where you can have fun buying and selling in your own trusted network of friends. Selbi is your one stop shop for trustworthy, safe, online buying and selling.
          p.lead.top
            a(href='#')
              img.app-download(src='../images/appdownload.jpg')
        .mastfoot
          .inner
            p
              a(href='#')
                img.twitter-logo(src='../images/TwitterLogo_acee.png')
              a(href='#')
                img.facebook-logo(src='../images/FBLogoblue.png')
            p
              | Copyright © 2016 Selbi Inc. All rights reserved.