extends layout

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
        .inner.cover
          h1.cover-heading Selbi
          p.lead
            | We are the premier friend-to-friend eCommerce marketplace, where you can have fun buying and selling in your own trusted network of friends. Selbi is your one stop shop for trustworthy, safe, online buying and selling.
          p.lead.image-padding
            a(href='#')
              img.app-download(src='../images/appdownload.jpg')
        .mastfoot
          .inner
            p
              a(href='#')
                img.twitter-logo(src='../images/TwitterLogo_acee.png')
              a(href='#')
                img.facebook-logo(src='../images/FBLogoblue.png')
            p
              | Copyright © 2016 Selbi Inc. All rights reserved.
              | &nbsp;
              a.terms-use(href='#')
                | Terms of Use 
              | | 
              a.privacy-policy(href='#')
                | Privacy Policy