extends privacyLayout

block content
  // Fixed navbar
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/')
          img.selbi-logo(src='../images/selbilogo2.png')
  .container
    .page-header
      h1
        | Terms & Conditions
    p.lead